.App {
  padding: 30px;
  display: flex;
}

App > div {
  margin-right: 50px;
}

.top-title {
  margin-bottom: 5px;
}

.input-add {
  height: 25px;
  width: auto;
  padding: 5px 7px;
  background-color: rgba(33, 176, 125, 0.7);
  border: none;
  border-bottom: 1px solid #000;
  margin-right: 8px;

  font-size: 12px;
}

.btn-add {
  width: 35px;
  height: 25px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  background-color: rgba(39, 20, 245, 0.7);
}

.add-task {
  display: flex;
  margin-bottom: 10px;
}

.input-check {
  margin-right: 5px;
}
